@import "tailwindcss";

@theme {
  --color-vintage-primary: #F48F68;
  --color-vintage-secondary: #FFE394;
  --color-vintage-accent: #8BDFDD;
  --color-vintage-bg: #FFF6DE;
  --color-vintage-text: #4A3B32;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-vintage-bg);
  color: var(--color-vintage-text);
}
